<h3> <%= @user.email %></h3>

<h4>Roles</h4>
<ul>
  <% @user.roles.each do |role| %>
      <li> <%= role.name %> </li>
  <% end %>
</ul>

<% if current_user %>
    <div class='form-actions'>
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
<% end %>
